LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=<YOUR-LANGSMITH_API_KEY>
LANGSMITH_PROJECT=VR Agent

OLLAMA_URL=http://ollama:11434
OLLAMA_LLM_MODEL=qwen3


GOOGLE_API_KEY=<YOUR-GOOGLE_API_KEY>
LLM_MODEL=gemini-2.5-flash-lite

