langchain-community
langchain_decorators
langchain
langchain-experimental
langchain-ollama
langchain-google-genai
langchainhub
langsmith
python-dotenv
black
isort
pandas
openpyxl
python-Levenshtein
fuzzywuzzy
